/*---------------------------------SECTION DESKTOP----------------------------------------*/
.box-article {
  box-shadow: 10px 5px 20px grey;
  margin-top: 2rem;
  width: 25%;
  height: 50vh;
}

.article-image {
  background-size: cover;
  width: 20vw;
  height: 30vh;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  margin-right: 1rem;
}

.article-title {
  text-decoration: none;
  color: #072050;
  font-weight: bold;
  font-size: larger;
  text-align: center;
  margin-left: 1.5rem;
  margin-right: 1rem;
  width: 20vw;
  height: 20vh;
}
/*---------------------------------^ FIN SECTION DESKTOP ^------------------------------------*/
/* ######################################################################################### */
/* ######################################################################################### */
/* ######################################################################################### */
/* ######################################################################################### */

/*------------------------------------SECTION PORTABLE---------------------------------------*/
@media screen and (max-width: 1024px) {
  .box-article {
    width: 100vw;
  }

  .article-image {
    width: 70vw;
  }

  .article-title {
    width: 70vw;
  }
}
/*---------------------------------^ FIN SECTION PORTABLE ^------------------------------------*/
/* ######################################################################################### */
/* ######################################################################################### */
/* ######################################################################################### */
/* ######################################################################################### */
