/*---------------------------------SECTION DESKTOP----------------------------------------*/
.breadcrumb-container {
  background-color: #072050;
  color: white;
  font-weight: bold;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 2vw;
  align-items: center;
  display: flex;
}
/*---------------------------------^ FIN SECTION DESKTOP ^------------------------------------*/
/* ######################################################################################### */
/* ######################################################################################### */
/* ######################################################################################### */
/* ######################################################################################### */

/*------------------------------------SECTION PORTABLE---------------------------------------*/
@media screen and (max-width: 1024px) {
  .breadcrumb-container {
    width: 158vw;
  }
}
/*---------------------------------^ FIN SECTION PORTABLE ^------------------------------------*/
/* ######################################################################################### */
/* ######################################################################################### */
/* ######################################################################################### */
/* ######################################################################################### */
