/*---------------------------------SECTION DESKTOP----------------------------------------*/
.footer {
  background-color: #072050;
  display: flex;
  justify-content: space-between;
}

.footer-left {
  color: white;
  font-weight: bold;
  margin-top: 5%;
  margin-bottom: 2.5%;
  margin-left: 2%;
}

.footer-right {
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  margin-right: 10%;
}

.footer-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 5%;
}
/*---------------------------------^ FIN SECTION DESKTOP ^------------------------------------*/
/* ######################################################################################### */
/* ######################################################################################### */
/* ######################################################################################### */
/* ######################################################################################### */

/*------------------------------------SECTION PORTABLE---------------------------------------*/
@media screen and (max-width: 1024px) {
  .footer {
    width: 160vw;
  }

  .footer-right {
    display: none;
  }
}
/*---------------------------------^ FIN SECTION PORTABLE ^------------------------------------*/
/* ######################################################################################### */
/* ######################################################################################### */
/* ######################################################################################### */
/* ######################################################################################### */
