/*---------------------------------SECTION DESKTOP----------------------------------------*/
.intro {
  display: flex;
  justify-content: space-between;
}

.registration-box {
  width: 30vw;
}

.session-box {
  display: flex;
  color: #072050;
  align-items: center;
}

.welcome-message {
  padding-top: 3vh;
  margin-left: 3vw;
  margin-right: 2vw;
}

.quit-link {
  padding-top: 3vh;
  color: #d3a55a;
  font-size: smaller;
}

nav {
  display: flex;
  background-color: white;
  font-weight: bold;
  margin-left: 2%;
  margin-bottom: 1.5%;
}

.header-link {
  margin-right: 5%;
  text-decoration: none;
  color: #072050;
}

.header-top {
  background-color: #072050;
  color: white;
  text-align: center;
  font-weight: bold;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.header-logo {
  margin-top: 5vh;
  margin-left: 2vw;
  margin-bottom: 2vh;
}

.catch-line {
  color: #072050;
  font-weight: bold;
  margin-left: 2vw;
  margin-bottom: 3vh;
}

.burger-menu {
  display: none;
}

/*---------------------------------^ FIN SECTION DESKTOP ^------------------------------------*/
/* ######################################################################################### */
/* ######################################################################################### */
/* ######################################################################################### */
/* ######################################################################################### */

/*------------------------------------SECTION PORTABLE---------------------------------------*/
@media screen and (max-width: 1024px) {
  .intro-navlink {
    display: flex;
    flex-direction: column;
  }

  .registration-box {
    width: 30vw;
  }

  .welcome-message {
    padding-top: 3vh;
    margin-left: 3vw;
    margin-right: 2vw;
  }

  .quit-link {
    padding-top: 3vh;
    color: #d3a55a;
    font-size: smaller;
  }

  nav {
    display: none;
  }

  .header-link {
    margin-right: 5%;
    text-decoration: none;
    color: white;
  }

  .header-top {
    text-align: center;
    font-weight: bold;
    width: 160vw;
    font-size: 0.9rem;
    padding-top: 2vh;
    padding-bottom: 2vh;
  }

  .header-logo {
    margin-top: 3vh;
    margin-left: 2vw;
    margin-bottom: 3vh;
    width: 65vw;
    height: 8vh;
  }

  .catch-line {
    width: 160vw;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0;
    margin-left: 0;
  }

  .burger-menu {
    display: block;
  }
}
/*---------------------------------^ FIN SECTION PORTABLE ^------------------------------------*/
/* ######################################################################################### */
/* ######################################################################################### */
/* ######################################################################################### */
/* ######################################################################################### */
