/*---------------------------------SECTION DESKTOP----------------------------------------*/
.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -20vh;
  left: 20vw;
  background-color: #072050;
  color: white;
  width: 60vw;
  height: 60vh;
  padding: 0 12px 12px;
}

.modal-text,
.login-modal-text {
  text-align: center;
  padding: 1vw;
  margin-top: 22vh;
  font-weight: bolder;
  font-size: larger;
}

.login-modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 15vh;
  left: 20vw;
  background-color: white;
  color: #072050;
  width: 60vw;
  height: 60vh;
  padding: 0 12px 12px;
}

.close,
.login-close {
  width: 4vw;
  height: 6vh;
  margin-top: 2vh;
  margin-left: 55vw;
  color: white;
  background-color: #d3a55a;
  font-weight: bolder;
  font-size: larger;
  cursor: pointer;
}
/*---------------------------------^ FIN SECTION DESKTOP ^------------------------------------*/
/* ######################################################################################### */
/* ######################################################################################### */
/* ######################################################################################### */
/* ######################################################################################### */

/*------------------------------------SECTION PORTABLE---------------------------------------*/
@media screen and (max-width: 1024px) {
  .modal {
    bottom: -60vh;
    left: 20vw;
    width: 120vw;
    height: 40vh;
  }

  .modal-text {
    margin-top: 5vh;
  }

  .close {
    width: 15vw;
    height: 10vh;
    margin-top: 3vh;
    margin-left: 100vw;
  }

  .login-modal {
    bottom: 40vh;
    left: 6vw;
    width: 80vw;
    height: 30vh;
  }

  .login-modal-text {
    padding: 1vw;
    margin-top: 5vh;
  }

  .login-close {
    width: 8vw;
    height: 4vh;
    margin-top: 2vh;
    margin-left: 70vw;
  }
}
/*---------------------------------^ FIN SECTION PORTABLE ^------------------------------------*/
/* ######################################################################################### */
/* ######################################################################################### */
/* ######################################################################################### */
/* ######################################################################################### */
