.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -20vh;
  left: 20vw;
  background-color: #072050;
  color: white;
  width: 60vw;
  height: 60vh;
  padding: 0 12px 12px;
}

.modal-text {
  text-align: center;
  padding: 1vw;
  margin-top: 22vh;
  font-weight: bolder;
  font-size: larger;
}

.close {
  width: 4vw;
  height: 6vh;
  margin-top: 2vh;
  margin-left: 55vw;
  color: white;
  background-color: #d3a55a;
  font-weight: bolder;
  font-size: larger;
  cursor: pointer;
}
