/*---------------------------------SECTION DESKTOP----------------------------------------*/
.search-input {
  height: 15vh;
  background-color: #d3a55a;
}

.newproducts-body {
  display: flex;
  width: 95vw;
}

.newproducts-body-left {
  width: 15vw;
  background-color: #d3a55a;
}

.newproducts-body-right {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  margin-left: 5vw;
}

.newproducts-body-right-card {
  margin-right: 2vw;
}
/*---------------------------------^ FIN SECTION DESKTOP ^------------------------------------*/
/* ######################################################################################### */
/* ######################################################################################### */
/* ######################################################################################### */
/* ######################################################################################### */

/*------------------------------------SECTION PORTABLE---------------------------------------*/
@media screen and (max-width: 1024px) {
  .search-input {
    display: none;
  }

  .newproducts-body {
    display: flex;
    width: 155vw;
  }

  .newproducts-body-left {
    display: none;
  }

  .newproducts-body-right {
    display: flex;
    flex-wrap: wrap;
    width: 158vw;
    margin-left: 4vw;
  }

  .newproducts-body-right-card {
    margin-right: 0;
  }
}
/*---------------------------------^ FIN SECTION PORTABLE ^------------------------------------*/
/* ######################################################################################### */
/* ######################################################################################### */
/* ######################################################################################### */
/* ######################################################################################### */
