.slider {
  background-image: url(../../images/games-4261598_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.slider-title,
.slider-text {
  color: white;
  font-weight: bold;
  margin-left: 12%;
  margin-right: 8%;
}

.slider-title {
  padding-top: 20%;
}
