/*---------------------------------SECTION DESKTOP----------------------------------------*/
.dropdown-menu {
  margin-right: 5rem;
  color: #072050;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu-choice {
  padding-top: 1em;
  color: #072050;
}

:hover.menu-choice {
  color: #d3a55a;
}
/*---------------------------------^ FIN SECTION DESKTOP ^------------------------------------*/
/* ######################################################################################### */
/* ######################################################################################### */
/* ######################################################################################### */
/* ######################################################################################### */

/*------------------------------------SECTION PORTABLE---------------------------------------*/
@media screen and (max-width: 1024px) {
  .dropdown-menu {
    margin-right: 5rem;
    color: white;
  }

  .menu {
    display: flex;
    flex-direction: column;
  }

  .menu-choice {
    padding-top: 1em;
    color: white;
  }

  :hover.menu-choice {
    color: #d3a55a;
  }
}
/*---------------------------------^ FIN SECTION PORTABLE ^------------------------------------*/
/* ######################################################################################### */
/* ######################################################################################### */
/* ######################################################################################### */
/* ######################################################################################### */
